.housing {
  display: flex;
  flex-direction: column;
}

.housing__header {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.housing__header > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.housing__header > div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.housing__header h1 {
  font-weight: 500;
  font-size: var(--text-lg);
  color: var(--color-primary);
  margin: 0;
  line-height: 25px;
}

.housing__header p {
  font-weight: 500;
  font-size: var(--text-xxs);
  color: var(--color-primary);
  margin: 0;
  line-height: 20px;
}

.housing__tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.housing__host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  height: 2rem;
}

.housing__host span {
  font-weight: 500;
  font-size: var(--text-xxs);
  color: var(--color-primary);
}

.housing__host img {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.housing__rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.housing__body {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 1024px) {
  .housing__header {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }

  .housing__header > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  .housing__host {
    order: 1;
    height: 4rem;
  }

  .housing__host span {
    font-size: var(--text-lg);
  }

  .housing__rating {
    order: 2;
  }

  .housing__tags {
    gap: 1rem;
  }

  .housing__body {
    flex-direction: row;
    align-items: stretch;
  }

  .housing__body > * {
    flex-basis: 50%;
  }
}
