.card {
  border-radius: 10px;
  aspect-ratio: 1/1;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card__title {
  z-index: 3;
  color: var(--color-white);
  font-size: var(--text-lg);
  width: 100%;
  padding: 0 1rem;
  font-weight: 400;
}