.collapse {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.collapse__title {
  width: 100%;
  background: var(--color-primary);
  color: var(--color-white);
  font-size: var(--text-sm);
  padding: .5rem .75rem;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.collapse__body {
  flex-grow: 1;
  width: 100%;
  background: var(--color-light);
  color: var(--color-primary);
  font-size: var(--text-sm);
  padding: calc(.5rem + 5px) .75rem .5rem;
  border-radius: 0 0 5px 5px;
  position: relative;
  margin-top: -5px;
  display: none;
}

.collapse__body p {
  margin: 0;
  padding: 0;
  line-height: 25px;
}

.collapse__body ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.collapse__title::after {
  content: url("data:image/svg+xml,%3Csvg height='9' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.3705 0.736755L0.0120851 2.10285L7.61003 9.69312L15.208 2.09518L13.8495 0.736756L7.61003 6.97628L1.3705 0.736755Z' fill='white'/%3E%3C/svg%3E");
  color: var(--color-white);
}

.collapse--open .collapse__title::after {
  content: url("data:image/svg+xml,%3Csvg height='9' viewBox='0 0 28 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.84 16.3466L27.2 13.9733L14 0.786621L0.800025 13.9866L3.16003 16.3466L14 5.50662L24.84 16.3466Z' fill='white'/%3E%3C/svg%3E");
}

.collapse--open .collapse__body {
  display: block;
}


@media (min-width: 768px) {
  .collapse__title {
    font-size: var(--text-lg);
    padding: .75rem 1rem;
    border-radius: 10px;
  }

  .collapse__title::after {
    content: url("data:image/svg+xml,%3Csvg height='15' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.3705 0.736755L0.0120851 2.10285L7.61003 9.69312L15.208 2.09518L13.8495 0.736756L7.61003 6.97628L1.3705 0.736755Z' fill='white'/%3E%3C/svg%3E");
  }

  .collapse--open .collapse__title::after {
    content: url("data:image/svg+xml,%3Csvg height='15' viewBox='0 0 28 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.84 16.3466L27.2 13.9733L14 0.786621L0.800025 13.9866L3.16003 16.3466L14 5.50662L24.84 16.3466Z' fill='white'/%3E%3C/svg%3E");
  }

  .collapse__body {
    font-size: var(--text-lg);
    padding: calc(1.25rem + 10px) 1rem 1.25rem;
    border-radius: 0 0 10px 10px;
    position: relative;
    margin-top: -10px;
  }
}
