.footer {
  background: var(--color-dark);
  padding: 2rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--color-white);
}

.footer__logo {
  height: 2rem;
}

.footer__copyright {
  font-size: .75rem;
}

@media (min-width: 768px) {
  .footer {
    gap: 1.5rem;
    padding: 3rem 0 1.5rem;
  }

  .footer__copyright {
    font-size: 1rem;
  }
}

@media (min-width: 1440px) {
  .footer {
    gap: 2rem;
    padding: 4rem 0 2rem;
  }

  .footer__copyright {
    font-size: 1.5rem;
  }
}