.banner {
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  height: 110px;
  display: flex;
  align-items: center;
}

.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}

.banner__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.banner__title {
  z-index: 3;
  width: 250px;
  font-size: var(--text-xl);
  font-weight: 500;
  color: var(--color-white);
  margin: 0;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .banner {
    height: 160px;
  }

  .banner__title {
    font-size: 2.25rem;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .banner {
    height: 220px;
  }

  .banner__title {
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
}
